[submodule "thirdparty/jbig2dec"]
	path = mupdf/thirdparty/jbig2dec
	url = git://git.ghostscript.com/jbig2dec.git
[submodule "thirdparty/freetype"]
	path = mupdf/thirdparty/freetype
	url = git://git.ghostscript.com/thirdparty/freetype.git
[submodule "thirdparty/jpeg"]
	path = mupdf/thirdparty/jpeg
	url = git://git.ghostscript.com/thirdparty/jpeg.git
[submodule "thirdparty/openjpeg"]
	path = mupdf/thirdparty/openjpeg
	url = git://git.ghostscript.com/thirdparty/openjpeg.git
[submodule "thirdparty/zlib"]
	path = mupdf/thirdparty/zlib
	url = git://git.ghostscript.com/thirdparty/zlib.git
