<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"  >
    <uses-sdk tools:overrideLibrary="android_libs.ub_uiautomator"/>

    <application>
        <provider
            android:name="universe.constellation.orion.viewer.test.framework.SimpleFileProvider"
            android:authorities="universe.constellation.orion.viewer.test.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:enabled="true"
            >
        </provider>
    </application>
</manifest>
