name: Android CI

on:
  push:
    branches:
      - master
      - dev**
  pull_request:
    branches:
      - master
      - dev**

jobs:
  build_and_upload_artifacts:
    name: Generate APKs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/config

      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace -Porion.CIBuild=true

      - name: Read value from Properties-file
        id: read_version_property
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: './orion-viewer/version.properties'
          property: 'orion.version.name'

      - name: Upload arm7 APK
        uses: actions/upload-artifact@v4
        with:
          name: orion-viewer-${{steps.read_version_property.outputs.value}}-${{github.run_number}}-armeabi-v7a-debug.apk
          path: orion-viewer/build/outputs/apk/debug/orion-viewer-*-v7a-debug.apk
      - name: Upload arm64 APK
        uses: actions/upload-artifact@v4
        with:
          name: orion-viewer-${{steps.read_version_property.outputs.value}}-${{github.run_number}}-arm64-v8a-debug.apk
          path: orion-viewer/build/outputs/apk/debug/orion-viewer-*-v8a-debug.apk
      - name: Upload x86 APK
        uses: actions/upload-artifact@v4
        with:
          name: orion-viewer-${{steps.read_version_property.outputs.value}}-${{github.run_number}}-x86-debug.apk
          path: orion-viewer/build/outputs/apk/debug/orion-viewer-*-x86-debug.apk
      - name: Upload x86_64 APK
        uses: actions/upload-artifact@v4
        with:
          name: orion-viewer-${{steps.read_version_property.outputs.value}}-${{github.run_number}}-x86_64-debug.apk
          path: orion-viewer/build/outputs/apk/debug/orion-viewer-*-x86_64-debug.apk

  test:
    strategy:
      matrix:
        arch: [[15, x86, ubuntu-latest], [16, x86, ubuntu-latest], [19, x86, ubuntu-latest], [21, x86, ubuntu-latest], [23, x86, ubuntu-latest], [28, x86, ubuntu-latest], [30, x86_64, ubuntu-latest], [31, x86_64, ubuntu-latest], [32, x86_64, ubuntu-latest], [33, x86_64, ubuntu-latest], [34, x86_64, ubuntu-latest]]
    env:
      ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 170
      EMULATOR_API: ${{ matrix.arch[0] }}
    runs-on: ${{ matrix.arch[2] }}
    steps:
      - uses: actions/checkout@v4
      - name: Run job configurations
        uses: ./.github/workflows/config

      - name: install libncurses5
        run: sudo apt-get install -y libncurses5
        if:  ${{ matrix.arch[0] == 15 }}

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.arch[0] }}
          arch: ${{ matrix.arch[1] }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          sdcard-path-or-size: 900M
          script: ./gradlew forwardLogcat connectedDebugAndroidTest -Porion.CIBuild=true  -Porion.build.android40=${{ matrix.arch[0] == 15 }}

      - uses: dorny/test-reporter@v1
        with:
          name: Test results ${{ matrix.arch[0] }}
          path: orion-viewer/build/outputs/androidTest-results/connected/debug/TEST-*.xml
          reporter: java-junit
        if: failure()

      - name: Upload screenshots and logcat
        uses: actions/upload-artifact@v4
        with:
          name: screenshotsAndLogcat${{ matrix.arch[0] }}
          path: orion-viewer/build/failures/
          if-no-files-found: ignore
        if: failure()

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: orion-viewer/build/outputs/androidTest-results/connected/debug/TEST-*.xml
        if: always()